<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="amount" class="form-control" #nameInput />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"></label>
          <input
            type="number"
            name="amount"
            class="form-control"
            #amountInput
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" (click)="onAdd()">
            Add
          </button>
          <button class="btn btn-danger ms-2" type="submit">Delete</button>
          <button class="btn btn-primary ms-2" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
